<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
      style="padding-top: 20px">
      <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
      <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"> </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
      <li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
      </li>
      <li class="heading" *ngIf="role=='admin'">
        <h3 class="uppercase">Admin</h3>
      </li>
      <li class="nav-item  " *ngIf="role=='admin'">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">Election</span>
                                <span class="arrow"></span>
                            </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="election/create" class="nav-link ">
                                        <span class="title">Create Election</span>
                                    </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="election/setup" class="nav-link ">
                                        <span class="title">Setup Election</span>
                                    </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="election/list" class="nav-link ">
                                        <span class="title">Elections List</span>
                                    </a>
          </li>

        </ul>
      </li>

      <li class="nav-item  " *ngIf="role=='admin'">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-puzzle"></i>
                                <span class="title">Voters</span>
                                <span class="arrow"></span>
                            </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="voter/add" class="nav-link ">
                                        <span class="title">Add Voter</span>
                                    </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="voter/list" class="nav-link ">
                                        <span class="title">Voters List</span>
                                    </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  " *ngIf="role=='admin'">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-puzzle"></i>
                                <span class="title">Candidates</span>
                                <span class="arrow"></span>
                            </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="candidate/add" class="nav-link ">
                                        <span class="title">Add Candidate</span>
                                    </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="candidate/list" class="nav-link ">
                                        <span class="title">Candidates List</span>
                                    </a>
          </li>
        </ul>
      </li>
      <li class="heading" *ngIf="role=='voter'">
        <h3 class="uppercase">Voters</h3>
      </li>
      <li class="nav-item " *ngIf="role=='voter'">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-diamond"></i>
                                <span class="title">Election</span>
                                <span class="arrow"></span>
                            </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="/elections" class="nav-link ">
                                        <span class="title">Elections List</span>
                                    </a>
          </li>


        </ul>
      </li>
      <li class="nav-item ">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">My Profil</span>
                            </a>
      </li>
      <li class="nav-item" (click)="logout()">
        <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-sign-out"></i>
                                <span class="title">Sign out</span>
                            </a>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->