<!--<div class="page-content-wrapper">
  <div class="page-content">
    <h1>Setup</h1>

    <div class="row">
      <div class="col-md col-md-9">
        <button (click)="registerVoters()" type="submit" class="btn green">Register voters</button>
        <button (click)="endRegistrationPhase()" type="submit" class="btn green">end Registration Phase</button>
        <button (click)="castVote()" type="submit" class="btn green">Vote</button>
        <button (click)="endVotingPhase()" type="submit" class="btn green">end Voting Phase</button>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md col-md-9">
        <button (click)="tally()" type="submit" class="btn green">Tally</button>
        <button (click)="getCandidateCount()" type="submit" class="btn green">get Count</button>

      </div>
    </div>

    <div class="row">
      <div class="alert alert-info" *ngIf="loadingMessage">
        <button class="close" data-close="alert"></button>
        <span>{{loadingMessage}}</span>
      </div>

      <div class="alert alert-danger" *ngIf="errorMessage">
        <button class="close" data-close="alert"></button>
        <span>{{errorMessage}}</span>
      </div>

      <div class="alert alert-success" *ngIf="successMessage">
        <button class="close" data-close="alert"></button>
        <span>{{successMessage}}</span>
      </div>
    </div>

  </div>-->