<div class="page-content-wrapper">
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Set your password</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]="myForm" (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="pwd">password</label>
                        <input type="password" formControlName="pwd" class="form-control" id="pwd">
                    </div>
                    <button type="submit" class="btn green">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>